@model MVCProjectTotalizator.Models.BetsViewModel

@{
    ViewBag.Title = "MakeBet";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("/Scripts/bet-scripts.js")
}

@*<script>
    $(document).ready(function () {
        $('form').on('submit', function (event) {

            // adding rules for inputs with class 'comment'
            $("input.val").each(function () {
                $(this).rules("add", {
                    required: true,
                    //number: true,
                    //min: 0
                })
            });

            // prevent default submit action
            event.preventDefault();

            // test if form is valid
            if ($('form').validate().form()) {
                console.log("validates");
            } else {
                console.log("does not validate");
            }

        })
        //$('form').validate();
    });
</script>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 making-bet">
                <div id="bets">
                    <div id="bet-0" class="bet">
                        <select onchange="ResultChanged(this)" name="Bets[0].Bet.ResultType">
                            <option value="Team">поставить на команду</option>
                            <option value="Score">поставить на счет</option>
                            <option value="Amount">поставить на количество голов</option>
                        </select>
                        <div class="bet-body">
                            <span class="making-bet">Команда: </span>
                            <select name="Bets[0].Bet.ResultValue" onchange="teamChanged(this,@Model.SportEvent.FirstTeam.Id,@Model.SportEvent.SecondTeam.Id,@Model.SportEvent.FirstCoeficient,@Model.SportEvent.SecondCoeficient)" >
                                <option value="@Model.SportEvent.FirstTeam.Id">@Model.SportEvent.FirstTeam.Name</option>
                                <option value="@Model.SportEvent.SecondTeam.Id">@Model.SportEvent.SecondTeam.Name</option>
                            </select>

                            <span class="making-bet" id="coefficient-0">Коэффициент: @Model.SportEvent.FirstCoeficient</span>
                            <br />
                            <span class="making-bet">Ставка: </span>
                            <input type="number" name="Bets[0].Bet.Money" min="0" max="@int.MaxValue" value="0" required />
                            @Html.ValidationMessageFor(model => model.Bets[0].Bet.Money, "", new { @class = "text-danger" })
                            <br />
                        </div>
                    </div>
                </div>

                <input id="add" type="button" value="Добавить" class="btn btn-default" onclick="AddBet()" />
                @Html.HiddenFor(m => m.SportEventId)
                @*<input type="hidden" name="sportEventId" value="@Model.SportEvent.Id" />*@
                <input id="CreateBtn" type="submit" value="Создать" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@Html.Partial("BetTemplates", Model.SportEvent)


